body {
  margin: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
}

h1{
    font-size: x-large;
}

h2{
    background-color: lightblue;
    margin-top: 50px;
    font-size: large;
    padding-left: 1em;
    width: 80%;
}

div.index{
    border-style: solid;
    border-radius: 10px;
    padding-left: 1em;
    width: 50%;
}

div.code{
    font-family: "Cascadia Code", monospace;
    background-color: black;
    color: white;
    width: 75%;
    padding-left: 1em;
}

div.content{
    width: 80%;
}

span.jblue{
    color: #4063d8;
}

span.jgreen{
    color: #389826;
}

span.code{
    font-family: "Cascadia Code", monospace;
    background-color: black;
    color: white;
}

pre{
    font-size: large;
}